
  .navbar-sport-color{
    background-color: grey;
  }

  .car-category{
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
  }

  .button-space{
    margin-right: 250px;
    margin-left: 250px;
  }