.login-style {
    width: 100%;
  }

  .right-style{
    float: right;
  }

  .center-align{
      text-align: center;
      align-content: center;
  }

  .forgot-password{
    float: right;
    font-size: 12px;
    cursor: pointer;
  }