<h3 class="center-align">Login</h3>

<span>
    <mat-form-field class="login-style">
        <input matInput placeholder="Email">
    </mat-form-field>
    <mat-form-field class="login-style">
        <input matInput placeholder="Password" required type="password">
    </mat-form-field>
    <br/>
    <h4 class="forgot-password" href="">Forgot Your Password?</h4>
</span>
<br/><br/>
<span>
    <button mat-raised-button color="warn" routerLink="/categories" routerLinkActive="active"
        (click)="dismissDialog('close')">Cancel</button>
    <button mat-raised-button color="primary" routerLink="/show-category" routerLinkActive="active"
        (click)="dismissDialog('shut')" class="right-style">Login</button>
</span>