.fill-space{
  flex: 1 1 auto;
}

.button-style{
  background: purple;
  padding: 5px;
}

.example-icon {
  padding: 0 14px;
}

.example-form {
  min-width: 350px;
  max-width: 800px;
  width: 80%;    
  margin: auto;
}

.example-full-width {
  width: 80%;
  margin-top: 5px;
}

.button-align-right{
  float: right;
  margin-top: 10px;
  margin-right: 80px;
  background-color: blueviolet;
  color: white;
}

.navbar-color{
  background-color: blueviolet;
  color: white;
}

.toggle-style{
  float: right;
  margin-right: 65px;
}

  mat-grid-tile{
    font-size: 35px;
    background-color: black;
    color: white;
    opacity: 0.6;
  }

  .category-style{
    font-size: x-large;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  img.tile-image{
    background-color: black;
    color: black;
    opacity: 0.5;
  }

  img:hover{
    opacity: 0.1;
  }

  .button-row{
    margin-right: 10px;
    margin-left: 10px;
  }

  .logo-style{
    width: 200px;
    height: 150px;
  }