.fill-space{
    flex: 1 1 auto;
}

.button-style{
    background: purple;
    padding: 5px;
}

.example-icon {
    padding: 0 14px;
  }

.example-form {
    min-width: 350px;
    max-width: 800px;
    width: 80%;    
    margin: auto;
  }
  
.example-full-width {
    width: 80%;
    margin-top: 5px;
  }

  .button-align-right{
    float: right;
    margin-top: 10px;
    margin-right: 80px;
    background-color: blueviolet;
    color: white;
  }

  .navbar-color{
    background-color: blueviolet;
    color: white;
  }

  .toggle-style{
    float: right;
    margin-right: 75px;
  }

  mat-grid-tile{
    font-size: 35px;
    background-color: black;
    color: white;
    opacity: 0.6;
  }

  .category-style{
    font-size: x-large;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  img.tile-image{
    background-color: black;
    color: black;
    opacity: 0.5;
  }

  img:hover{
    opacity: 0.1;
  }

 .toggle-button{
    margin-bottom: 15px;
}
.toggle-content{
    display: flex;
    width: 320px;
    height: 260px;
}
.toggle-section{
  float: right;
  margin-right: 75px;
    flex-flow: row wrap;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h3{
    margin: 0;
}


.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}