<mat-toolbar class="navbar-color" role="heading" aria-label="GetWheelz.com">
  <span>GetWheelz.com</span>
  <span class="fill-space"></span>
  <span>
    <button mat-icon-button aria-label="Example icon-button with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
  </span>
  <span>
    <button mat-button>Login</button>
  </span>
</mat-toolbar>

<form class="example-form">
  <span>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Search...">
    </mat-form-field>
    <button mat-raised-button class="button-align-right">Search</button>
  </span>
  <mat-slide-toggle class="toggle-style">Advanced Search</mat-slide-toggle>
</form>

<br /><br />
<mat-divider></mat-divider>

<br />

<span clas="category-style">
  <mat-grid-list cols="3" rowHeight="2:1">
    <b>
      <mat-grid-tile>SPORT</mat-grid-tile>
      <mat-grid-tile>PERFORMANCE</mat-grid-tile>
      <mat-grid-tile>LUXURY</mat-grid-tile>
      <mat-grid-tile>HATCHBACK</mat-grid-tile>
      <mat-grid-tile>SUV</mat-grid-tile>
      <mat-grid-tile>CONCEPT</mat-grid-tile>
      <mat-grid-tile>GT</mat-grid-tile>
      <mat-grid-tile>ELECTRIC</mat-grid-tile>
      <mat-grid-tile>CONVERTIBLE</mat-grid-tile>
    </b>
  </mat-grid-list>
</span>