.fill-space{
    flex: 1 1 auto;
}

.button-style{
    background: purple;
    padding: 5px;
}

.example-icon {
    padding: 0 14px;
  }

.example-form {
    min-width: 350px;
    max-width: 800px;
    width: 80%;    
    margin: auto;
  }
  
.example-full-width {
    width: 80%;
    margin-top: 5px;
  }

  .button-align-right{
    float: right;
    margin-top: 10px;
    margin-right: 80px;
    background-color: blueviolet;
    color: white;
  }

  .navbar-color{
    background-color: blueviolet;
    color: white;
  }

  .toggle-slide{
    background-color: blueviolet;
  }