<mat-toolbar class="navbar-color" role="heading" aria-label="GetWheelz.com">
  <span>GetWheelz.com</span>
  <span class="fill-space"></span>
  <span>
    <button mat-icon-button aria-label="Example icon-button with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
  </span>
  <span>
    <button mat-button>Login</button>
  </span>
</mat-toolbar>

<form class="example-form">
  <span>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Search...">
    </mat-form-field>
    <button mat-raised-button class="button-align-right">Search</button>
  </span>
  <mat-slide-toggle class="toggle-style">Advanced Search</mat-slide-toggle>

</form>

<br /><br />
<mat-divider></mat-divider>

<br />

<span clas="category-style">
  <mat-grid-list cols="3" rowHeight="3:1">
    <b>
      <mat-grid-tile>
        <img src="../assets/car_images/sportscar.jpg" class="tile-image">
        <div class="centered">SPORTS</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="../assets/car_images/sedancar.jpg" class="tile-image">
        <div class="centered">PERFORMANCE</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="../assets/car_images/luxurycar.jpg" class="tile-image">
        <div class="centered">LUXURY</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="../assets/car_images/hatchback.jpg" class="tile-image">
        <div class="centered">HATCHBACK</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="../assets/car_images/suvcar.jpg" class="tile-image">
        <div class="centered">SUV</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="../assets/car_images/01_McLaren_F1.jpg" class="tile-image">
        <div class="centered">CONCEPT</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="../assets/car_images/03_Lamborghini_Murcielago.jpg" class="tile-image">
        <div class="centered">ELECTRIC</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="../assets/car_images/ferraricar.jpg" class="tile-image">
        <div class="centered">GT</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="../assets/car_images/04_Maserati_GranTurismo.jpg" class="tile-image">
        <div class="centered">CONVERTIBLE</div>
      </mat-grid-tile>

    </b>
  </mat-grid-list>
</span>

<router-outlet></router-outlet>