<mat-toolbar class="navbar-color" role="heading" aria-label="GetWheelz.com">
  <span>GetWheelz.com</span>
  <span class="fill-space"></span>
  <span>
    <button mat-icon-button aria-label="Example icon-button with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
  </span>
  <span>
    <button mat-button>Login</button>
  </span>
</mat-toolbar>

<form class="example-form">
  <span>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Search...">
    </mat-form-field>
    <button mat-raised-button class="button-align-right">Search</button>
  </span>
  <mat-slide-toggle class="toggle-style">Advanced Search</mat-slide-toggle>
</form>

<mat-divider></mat-divider>