<mat-toolbar class="navbar-color" role="heading" aria-label="GetWheelz.com" style="font-family: 'Brush Script MT'; font-size: 36px;">
  <img src="../assets/logo.png" class="logo-style" routerLink="/categories"
  routerLinkActive="active">
  <span class="fill-space"></span>
  <span>
    <mat-form-field class="full-width" style="font-size: 16px;">
      <input matInput placeholder="Search...">
    </mat-form-field>
  </span>
  <span>
    <button mat-raised-button class="button-align-right">Search</button>
  </span>
    <span>
    <button mat-icon-button aria-label="Icon-button with a user icon">
      <mat-icon class="left-margin">star</mat-icon>
    </button>
  </span>
  <span>
    <button mat-button [matMenuTriggerFor]="menu" aria-label="Icon-button with a favourite icon">
      <mat-icon class="left-margin">person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Personalize</button>
      <button mat-menu-item>Edit Profile</button>
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Logout</button>
    </mat-menu>
  </span>
</mat-toolbar>

<mat-toolbar class="page-title-bar" role="heading" >
    <h3 class="display-inline">{{page_title}}</h3>
</mat-toolbar>

<form class="search-results">
  <span>
    <ngb-carousel *ngIf="cars" showNavigationArrows="true" interval="3000" pauseOnHover="true">
      <ng-template ngbSlide *ngFor = "let car of category_cars">
        <img class="car_image" matTooltip="Click here to go to car details" matTooltipPosition="left" [src]="car.img" alt="Random slide" width="800" height="450" routerLink="/car-details" routerLinkActive="active" (click)="sendCar(car)">
        <div class="carousel-container">
            <div class="carousel-caption">
              <h3>{{ car.maker }} {{ car.model }}</h3>
              <p>
                Body :	{{ car.body }}<br />
                Num. of Doors :	{{ car.doors }}<br />
                Top Speed :	{{ car.speed }}<br />
                Engine type - Number of cylinders :	{{ car.engine }}<br />
                Fuel type :	{{ car.fuel }}<br />
                Price: {{ car.price }}
              </p>
            </div>
            <button class="overlay-favourite" mat-icon-button>
              <mat-icon>star</mat-icon>
            </button>
            <button class="toggle-favourite" mat-icon-button matTooltip="Click here to add car to favourites" matTooltipPosition="right">
              <mat-icon>star</mat-icon>
            </button>
        </div>
      </ng-template>
    </ngb-carousel>
  </span>
</form>