.details-card {
  width: 600px;
  margin-left: 300px;
  margin-top: 50px;
}

.example-header-image {
  width: 25px;
  height: 25px;
  float: left;
}

.push-to-right{
  float: right;
}

.center-align-text{
text-align: center;
align-content: center;
align-items: center;
}


.fill-space{
  flex: 1 1 auto;
}

.navbar-color{
  background-color: blueviolet;
  color: white;
}

.logo-style{
  width: 200px;
  height: 150px;
}

.button-row{
  margin-right: 10px;
  margin-left: 10px;
}

.right-align-text{
  margin-left: 45px;
}

.parameter-style{
  font-size: 14px;
  color: black;
  text-align: right;
}

.parameter-detail-style{
  font-size: 14px;
  color: darkslategray;
}

.car-image-style{
  width: 600px;
  height: 300px;
}

.bgcolor{
  background-color: #F3F3F3;
  height: inherit;
  background: #F3F3F3;
}

.right-align{
  float: right;
}

.button-margin{
  margin-left: 35px;
  margin-right: 30px;
}