<body class="bgcolor">

<mat-toolbar class="navbar-color" role="heading" aria-label="GetWheelz.com">
  <img src="../assets/logo.png" class="logo-style">
  <span class="fill-space"></span>
  <span>
    <button mat-stroked-button (click)="openLogin()" class="button-row">Login</button>
  </span>
  <span>
    <button mat-stroked-button (click)="openRegister()">Register</button>
  </span>
</mat-toolbar>

<mat-toolbar class="page-title-bar" role="heading" >
  <div style="text-align: center;">
    <span>Car Specifications: {{page_title}}</span>
  </div>
</mat-toolbar>

<mat-card class="details-card">
<br/>
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <div>
      <img
        src="https://upload.wikimedia.org/wikipedia/en/thumb/d/df/Lamborghini_Logo.svg/1200px-Lamborghini_Logo.svg.png"
        class="example-header-image">

      <mat-card-title class="right-align-text">{{car.maker}}</mat-card-title>
      <mat-card-subtitle class="right-align-text">{{car.model}}</mat-card-subtitle>
    </div>
  </mat-card-header>

  <mat-card-actions  class="button-margin">
    <button mat-stroked-button color="primary">Back</button>
    <button mat-stroked-button color="primary" class="push-to-right">Forward</button>
  </mat-card-actions>

  <img mat-card-image [src]="car.img" alt="Photo of a ...." class="car-image-style">

  <mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile class="parameter-style">
      Engine type - Number of cylinders<br/>
      Engine Code<br/>
      Fuel Type<br/>
      Fuel System<br/>
      Coolant<br/>
      Engine Alignment<br/>
      Engine size - Displacement - Engine capacity<br/>
      Bore x Stroke<br/>
      Number of valves<br/>
      Aspiration<br/>
      Compression Ratio<br/>
      Maximum power - Output - Horsepower<br/>
      Maximum torque<br/>
      Drive wheels - Traction - Drivetrain<br/>
      Transmission Gearbox - Number of speeds<br/>
      Fuel Consumption - Economy<br/>
      Fuel Tank Capacity<br/>
      Top Speed<br/>
      Acceleration 0 to 60 mph (0 to 96 Km/h)<br/>
      Body<br/>
      Num. of Doors<br/>
      Wheelbase<br/>
      Length<br/>
      Width<br/>
      Height<br/>
      Front Axle<br/>
      Rear Axle<br/>
      Aerodynamic drag coefficient<br/>
      Front Brakes - Disc dimensions<br/>
      Rear Brakes - Dics dimensions<br/>
      Front Tyres - Rims dimensions<br/>
      Rear Tyres - Rims dimensions<br/>
      Front Wheels Width<br/>
      Rear Wheels Width<br/>
      Curb Weight<br/>
      Weight-Power Output Ratio<br/>
      Trunk / Boot capacity<br/>
      Steering<br/>
      Front Suspension<br/>
      Rear Suspension <br/>
      Price
    </mat-grid-tile>
    <mat-grid-tile class="parameter-detail-style">
      {{car.engine}}<br/>
      {{car.engine_code}}<br/>
      {{car.fuel}}<br/>
      {{car.fuel_system}}<br/>
      {{car.coolant}}<br/>
      {{car.engine_alignment}}<br/>
      {{car.engine_size}}<br/>
      {{car.bore}}<br/>
      {{car.valves}}<br/>
      {{car.aspiration}}<br/>
      {{car.compression_ratio}}<br/>
      {{car.horsepower}}<br/>
      {{car.torque}}<br/>
      {{car.traction}}<br/>
      {{car.gearbox}}<br/>
      {{car.fuel_consumption}}<br/>
      {{car.fuel_capacity}}<br/>
      {{car.speed}}<br/>
      {{car.acceleration}}<br/>
      {{car.body}}<br/>
      {{car.doors}}<br/>
      {{car.wheelbase}}<br/>
      {{car.length}}<br/>
      {{car.width}}<br/>
      {{car.height}}<br/>
      {{car.front_axle}}<br/>
      {{car.rear_axle}}<br/>
      {{car.aerodynamic}}<br/>
      {{car.front_brakes_disc}}<br/>
      {{car.rear_brakes_disc}}<br/>
      {{car.front_tyres_rims}}<br/>
      {{car.rear_tyres_rims}}<br/>
      {{car.front_wheels_width}}<br/>
      {{car.rear_wheels_width}}<br/>
      {{car.curb_weight}}<br/>
      {{car.weight_power}}<br/>
      {{car.trunk}}<br/>
      {{car.steering}}<br/>
      {{car.front_suspension}}<br/>
      {{car.rear_suspension}}<br/>
      {{car.price}}
    </mat-grid-tile>
  </mat-grid-list>

  <!-- <mat-card-content class="center-align-text">
    <p>
      Engine : V8 <br />
      Transmission : Automatic <br />
      Top Speed : 400 Km/H <br />
      Accelaration : 0-100 in 2.3 secs <br />
      No. of Doors : 2 <br />
      Fuel Efficiency : 6 Km/L <br />
      Electric : No <br />
      Launched : 2015 <br />
    </p>
  </mat-card-content> -->

</mat-card>

</body>