<mat-card class="example-card align-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Car Name</mat-card-title>
    <mat-card-subtitle>Car Class</mat-card-subtitle>
  </mat-card-header>

  <mat-card-actions >
    <button  mat-button  >Back</button>

    <button   mat-button class="push-to-right" >Forward</button>
  </mat-card-actions>










  



  <img mat-card-image [src]="img_car3" alt="Photo of a ....">
  <mat-card-content>
    <p>
      Car description...
    </p>
  </mat-card-content>

</mat-card>
