.example-card {
  max-width: 1000px;
}

.example-header-image {
  background-image:  ;
  background-size: cover;
}

.align-card{
  margin-left: 300px;
  margin-top: 50px;
  
}

.push-to-right{ float: right;}


mat-card-subtitle{margin-left: 450px;}

mat-card-title{margin-left: 450px;}



